<!-- "kabob" component  -->

{% assign default_style_modifier = 'light' %}
{% assign default_flags = '' %}

{% if component_name == nil %}
    {% assign component_name = 'Button' %}
{% endif %}

<!-- assign default for include here  -->
{% if kabob_left_icon == nil %}
{% endif %}

<div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }} {{ flags | default: default_flags }}{% if reflect %} --reflect{% endif %}">

    {% if kabob_left_icon != nil %}
    <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__left">
        {% include   kabob_left_icon %}
    </div>
    {% endif %}
    <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__center">
            {% if kabob_label %}
             {{ kabob_label | escape }}
            {% endif %}
    </div>
    {% if reflect %}
        <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__right">
            {% include kabob_left_icon %}
        </div>
    {% elsif kabob_right_icon %}
        <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__right">
            {% include kabob_right_icon %}
        </div>
    {% endif %}
</div>

<!-- reset all variables cuz liquids scoping is dum? -->
{% assign style_modifier = nil %}
{% assign flags = nil %}
{% assign reflect = nil %}
{% assign kabob_right_icon = nil %}
{% assign kabob_left_icon = nil %}
{% assign component_name = nil %}