<!-- "kabob" component  -->

{% assign default_style_modifier = 'light' %}
{% assign default_flags = '' %}

<!-- assign default for include here  -->
{% if component_name == nil %}
    {% assign component_name = 'Kabob' %}
{% endif %}

{% if kabob_left_icon == nil %}
    {% assign kabob_left_icon = 'ui-divider-left.svg' %}
{% endif %}

<div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }} {{ flags | default: default_flags }}{% if reflect %} --reflect{% endif %}">
    <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__left">
        {% include   kabob_left_icon %}
    </div>
    <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__center">
        <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__inner">
            {% if kabob_label %}
                <span>{{ kabob_label | escape }}</span>
            {% endif %}
        </div>
    </div>
    {% if reflect %}
        <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__right">
            {% include kabob_left_icon %}
        </div>
    {% elsif kabob_right_icon %}
        <div class="g-{{ component_name }}--{{ style_modifier | default: default_style_modifier }}__right">
            {% include kabob_right_icon %}
        </div>
    {% endif %}
</div>

<!-- reset all variables cuz liquids scoping is dum? -->
{% assign style_modifier = nil %}
{% assign flags = nil %}
{% assign reflect = nil %}
{% assign kabob_right_icon = nil %}
{% assign kabob_left_icon = nil %}
{% assign component_name = nil %}