<footer class="Owool_Footer">
    <div class="inner">
        {% include 'ornament-divider'   with  style_modifier: 'dark' %}

        <section class="a-footer-grid footer-content-area">
            <div class="footer-col" id="footer-1">
                <!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->
                {% assign footer_settings = section.settings %}
                {% include 'email-list-form' %}

                {% assign social_nav_theme = "dark" %}
                {% include 'social-nav-links' %}

                <!-- END: Constant Contact Basic Opt-in Email List Form -->

            </div><!-- /#footer-1 -->

            <div class="footer-col" id="footer-2">
                <ul class="footer-nav" class="clearfix">
                    {% for link in linklists.footer.links %}
                        <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                    {% endfor %}
                </ul>

            </div><!-- /#footer-2 -->

            <div class="footer-col" id="footer-3">
                <ul class="footer-nav" class="clearfix">
                    {% for link in linklists.footer-right.links %}
                        <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /#footer-3 -->

            <div class="footer-col" id="footer-4">
                <img src="{{ 'star.png' | asset_url }}" width="15" height="17" alt="*" style="vertical-align:middle"/>
                <a href="http://www.aeolidia.com/" onclick="window.open(this.href,'_blank');return false;">site by
                    Aeolidia</a> <img src="{{ 'star2.png' | asset_url }}" width="9" height="9" alt="*"
                                      style="vertical-align:top"/><br/>
                &copy; <a href="/">{{ shop.name }}</a> {{ 'now' | date: '%Y' }}

            </div><!-- /#footer-4 -->

        </section>

        {% if section.settings.show_payment_icons %}
            {% unless shop.enabled_payment_types == empty %}
            {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

            <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
            <ul class="payment-icons">
                {% for type in shop.enabled_payment_types %}
                    {% if payment_icons_available contains type %}
                        <li>
                            {%- assign icon_name = type | prepend: 'icon-' -%}
                            {% include icon_name %}
                            <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endunless %}
        {% endif %}

        <div>
            <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}
                . {{ powered_by_link }}</small>
        </div>
    </div>
</footer>


{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "link_list",
"id": "footer_linklist",
"label": "First menu",
"default": "footer"
},
{
"type": "checkbox",
"id": "show_payment_icons",
"label": "Show payment icons",
"default": false
},
{
"type": "text",
"id": "footer_emailform_text",
"default": "Subscribe",
"label": "EMail form!"
}
]
}


{% endschema %}
