<!DOCTYPE html> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <link rel="canonical" href="{{ canonical_url }}" /> 

  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape  }}" />
  {% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  {% comment %} 
    Open Graph tags for Facebook Like buttons 
  {% endcomment %} 
  <meta property="og:site_name" content="{{ shop.name | escape }}" />
  {% if template contains 'product' %}
    <meta property="og:image" content="{{ product.featured_image | product_img_url: 'compact' }}" />
  {% else %}
    {% if settings.logo_image == "logo.png" %}
      <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
    {% endif %}
  {% endif %}  

  {% if template == 'index' %}
   <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title | remove: '*'  }} | {{ shop.name }}</title>
  {% endif %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}" />

  {{ content_for_header }}
  {{ 'style.css' | asset_url | stylesheet_tag }}{% if template contains 'product' and settings.main_image_display == 'Lightbox' %}
  {{ 'jquery.fancybox-1.3.4.css' | asset_url | stylesheet_tag }}{% endif %}
    {% include 'css-variables'  %}


    {{ 'theme.css' | asset_url | stylesheet_tag }}


    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

    <script>
        ///CART JS INITIALIZE
        var myCart={{ cart | json }};

        var myVariant={{  product.selected_or_first_available_variant | json }};

    </script>

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <link rel="stylesheet" href="https://use.typekit.net/kxg6qeb.css">
<script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
        strings: {
            addToCart: {{ 'products.product.add_to_cart' | t | json }},
            soldOut: {{ 'products.product.sold_out' | t | json }},
            unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
    };
</script>


</head>

<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }} {{page.title}} {{ product.title }}">
    <!-- Header -->
    <div data-section-id="{{ section.id }}" data-section-type="header-section">

        {% if template.name == 'index' %}
        <h1 itemscope itemtype="http://schema.org/Organization">
            {% else %}
            <div class="h1" itemscope itemtype="http://schema.org/Organization">
                {% endif %}

                {% if template.name == 'index' %}
        </h1>
        {% else %}
    </div>
    {% endif %}

    <div data-section-id="{{ section.id }}" data-section-type="header-section">

        {% if template.name == 'index' %}
        <h1 itemscope itemtype="http://schema.org/Organization">
            {% else %}
            <div class="h1" itemscope itemtype="http://schema.org/Organization">
                {% endif %}

                {% if template.name == 'index' %}
        </h1>
        {% else %}
    </div>
    {% endif %}
        {% section 'mobile-header' %}
     {% section 'header' %}



    <main role="main" class="Owool_Content" id="MainContent">
        {{ content_for_layout }}
    </main>

  <!--[if lt IE 8]>
  <script>
    // IE 6+7 do not calculate the width of the #umbrella properly
    $('#umbrella').width( $('#umbrella ul').width() );
  </script>
  <![endif]-->
    
  {% if settings.twitterwidget_visible and settings.show_right_column %}

    <script>
      $(".tweets-wrapper").tweet(
        {
          count: {{ settings.twitterwidget_numtweets }},
          username: "{{ settings.twitterwidget_username }}",
          loading_text: "loading tweets...",
          template: function(i){ return i["text"]
        }    
      });
    </script>
  {% endif %}

  {% if product.available %}
  <script>
	$("#qty-box select").selectbox();
  	{% assign look_for_image_match = false %}
		{% assign option_index = 0 %}
		{% for option in product.options %}
  		{% assign downcased_option = option | downcase %}
  		{% if downcased_option contains 'color' %}
    		{% assign look_for_image_match = true %}
    		{% assign option_index = forloop.index0 %}
  		{% endif %}
	{% endfor %}
	Shopify.doNotTriggerClickOnThumb = false;
    var selectCallback = function(variant, selector) {
// BEGIN SWATCHES
        /*if (variant) {
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
            for (var i=0,length=variant.options.length; i<length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                if (radioButton.size()) {
                    radioButton.get(0).checked = true;
                }
            }
        }*/
// END SWATCHES


      if ( variant && variant.available) {
        // selected a valid variant
        $('#add-to-cart').removeClass('disabled');
        $('#add-to-cart-msg').hide();// remove unavailable class from add-to-cart button, and re-enable button
        if(variant.compare_at_price == null){
          $('#product-header-title .price').html(Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));
        } else {
          $('#product-header-title .price').html('<span class="compare_at_price">' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_with_currency_format}}") + '</span>'+Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));
        }
      } else {
        // variant doesn't exist
        $('#add-to-cart-msg').hide();                                                                                                 
        $('#add-to-cart').addClass('disabled'); // set add-to-cart button to unavailable class and disable button
        var message = variant ? "Sold Out" : "Unavailable";    
        $('#product-header-title .price').text(message); // update price-field message
      }
      
      if ( variant.available && variant.inventory_management == 'shopify' && variant.inventory_quantity <= '20' ) {
        $('#add-to-cart-msg').hide(); 
        $('#number-available').text(variant.inventory_quantity + ' available').fadeIn();
      } else if ( variant.inventory_management == 'shopify' && variant.inventory_quantity == 0 ) {
        $('#add-to-cart-msg').hide();  
        $('#number-available').text('sold out').fadeIn();
      } else {
        $('#add-to-cart-msg').hide(); 
        $('#number-available').hide();
      }

      {% if look_for_image_match %}
		 	if (variant && !Shopify.doNotTriggerClickOnThumb) {
	  			$('#thumbs a[title="' + variant.options[{{ option_index }}] + '"]').trigger('click');
			}
	  {% endif %}
		Shopify.doNotTriggerClickOnThumb = false;
    };
    // initialize multi selector for product
    $(function() {
	
      new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
      {% if product.options.size >= 1 and product.options.first != 'Title' %}
	$('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
	{% endif %}
	
      {% assign found_one_in_stock = false %}
      {% for variant in product.variants %}
        {% if variant.available and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}
          {% for option in product.options %}
          $('.single-option-selector:eq(' + {{ forloop.index0 }} + ')').val({{ variant.options[forloop.index0] | json }}).trigger('change').selectbox("attach");
          {% endfor %}
        {% endif %}
      {% endfor %}  
      

	 {% if look_for_image_match %}
	 $('#thumbs li a').bind('click', function() {
	   var color = jQuery(this).attr('title');
	   if (color && color !== '') {
	     var options = $('.single-option-selector:eq({{ option_index }}) option[value="' + color + '"]');
	     if (options.size() !== 0) {
	       Shopify.doNotTriggerClickOnThumb = true;
	       $('.single-option-selector:eq({{ option_index }})').val(color).trigger('change').selectbox("detach").selectbox("attach");
	     }
	   }
	 });
	 {% endif %}
	
	
    });
  </script>
  {% endif %}
  {% if template == 'index' and settings.show_carousel %}

  {% endif %}
  
  {% if template contains 'product' and settings.main_image_display == 'Lightbox' %}

  <script>
  $("a[rel='fancybox']").fancybox({
    'hideOnContentClick': true
  });
  </script>
  {% endif %}


  <script type="text/javascript" charset="utf-8">
  //<![CDATA[

  // Including api.jquery.js conditionnally.
  if (typeof Shopify.onCartShippingRatesUpdate === 'undefined') {
    document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
  }

  //]]>
  </script>
    
  
  	<script>
	jQuery(document).ready(function(){
    	jQuery('#MobileNavTrigger').on('click', function(event) {        
             jQuery('body').toggleClass('MobileNavActive');

             alert();
        });
  	});
	</script>
     
  
   <!-- ==============     Freeshipping progress bar     ============== -->
<script>
$(document).ready(function(){      
	var Orders_Over = 150; //$X amount shipping limit	
	get_freeshipping_progress_bar();
});
</script>
<!-- ==============     Freeshipping progress bar     ============== -->
  
  <script>
$(window).scroll(function () {
	var threshold = $("#top").height() + 70;
	var dech = $('.description').height();
	var swatchh = $('#product-order').height();
	
	var totalh = (dech + swatchh - 50);
	if ($(window).scrollTop() >= threshold){
		$('.left_stiky').addClass('fixed');
       $('.left_stiky').removeClass('bottom');
	}
	else{
		$('.left_stiky').removeClass('fixed');
      $('.left_stiky').removeClass('bottom');
	}
  if( $(window).scrollTop() >= totalh){
		$('.left_stiky').removeClass('fixed');
    $('.left_stiky').addClass('bottom');
	}  
});
</script>




  {% section 'footer' %}
</body>
</html>